@using Microsoft.AspNetCore.Components.Web
@using PhotoGallery.Models
@using PhotoGallery.Services
@inject JsonFilePhotoService PhotoService

<div class="card-row">
    @foreach (var photo in PhotoService.GetPhotos())
    {
        <div class="card">
            <div class="card-img" style="background-image: url('@photo.Url');"></div>
            <div class="card-body">
                <h5 class="card-title">@photo.Title</h5>
            </div>
        </div>
        <div class="card-footer">
            <small class="text-muted">
                <button @onclick="(e => SelectPhoto(photo.Id))"
                    data-toggle="modal" data-target="#photoModal" class="btn btn-primary"
                    >More info</button>
            </small>
        </div>
    }
</div>

@code {
    Photo selectPhoto;
    string selectPhotoId;

    void SelectPhoto(string photoId)
    {
        selectPhotoId = photoId;
        selectPhoto = PhotoService.GetPhotos().First(x => x.Id == photoId);
    }
}
