@page
@using PhotoGallery.Components
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Photo Gallery</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


@*<div class="card-row">
@foreach (var photo in Model.Photos)
{
  <div class="card"> 
      <div class="card-img" style="background-image: url('@photo.Url');"></div>
      <div class="card-body">
                <h5 class="card-title">@photo.Title</h5>
                
      </div>

    </div>
}
</div>*@

@(await Html.RenderComponentAsync<PhotoList>(RenderMode.ServerPrerendered))

<script src="_framework/blazor.server.js"></script>
